[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/EtherpadLite"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/EtherpadLite
	url = https://github.com/jrocho/ILIAS-Etherpad-Lite-Plugin
[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/Flashcards"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/Flashcards
	url = https://github.com/ilifau/Flashcards.git
[submodule "Customizing/global/plugins/Services/Repository/RepositoryObject/AdobeConnect"]
	path = Customizing/global/plugins/Services/Repository/RepositoryObject/AdobeConnect
	url = https://github.com/DatabayAG/ILIAS_AdobeConnectPlugin.git
